.menu-nav {
  max-width: 100%;
  background-color: var(--dark-blue-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px 0px 70px;
  font-family: var(--roboto-font);
}

.menu-h1 {
  color: var(--pink-color);
  font-size: 1.3em;
  font-weight: 700;
}

.menu-ul {
  min-width: min-content;
  display: flex;
  flex-direction: row;
  color: var(--white-color);
  list-style-type: none;
  font-size: 0.9em;
  font-weight: 300;
}

.menu-li {
  padding: 10px;
}

.menu-li-Selected {
  color: var(--pink-color) !important ;
  font-weight: 400 !important;
}

@media only screen and (max-width: 480px) {
  .menu-nav {
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px 10px 0px;
  }
  .menu-h1 {
    font-size: 1.5em;
    margin: 0px;
  }
  .menu-ul {
    font-size: 1em;
    flex-shrink: 200px;
    flex-wrap: nowrap;
    padding: 2px;
    margin: 0px;
  }
}
