.portfolio-section {
  display: grid;
  grid-template-rows: 1fr 2fr auto;
  flex-direction: column;
}
.portfolio-h1 {
  grid-row: 1;
}

@media only screen and (max-width: 600px) {
  .portfolio-section {
    display: flex;
    flex-direction: column;
  }
}
