.errorMessage-div {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  text-align: center;
}
.errorMessage-icon {
  color: var(--pink-color);
  font-size: 40px;
  margin: 10px;
  align-self: center;
}
.errorMessage-Text {
  font-size: 20px;
  margin: 10px;
  color: var(--white-color);
}
