.backToTop-div {
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  border-radius: 100px;
  background-color: var(--pink-color);
  color: var(--dark-blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 500ms;
}
.backToTop-div:hover {
  width: 55px;
  height: 55px;
  color: var(--white-color);
}
