.sobre-section {
  display: flex;
}

.sobre-container {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  font-family: var(--roboto-font);
  align-items: center;
}
.sobre-profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.sobre-h1 {
  color: var(--blue-color);
  font-weight: 700;
  letter-spacing: 0.2em;
  margin: 20px 0px 10px 0px;
}
.sobre-p {
  color: var(--white-color);
  text-align: center;
  font-weight: 300;
  margin: 0px;
}
.sobre-icons-container {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
.sobre-icons {
  font-size: 25px;
  padding: 5px;
  color: var(--white-color);
}

@media only screen and (max-width: 480px) {
  .sobre-container {
    max-width: 300px;
  }
  .sobre-profile-image {
    width: 150px;
    height: 150px;
  }
  .sobre-icons {
    font-size: 33px;
    margin: 5px;
  }
}
