@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

:root {
  --pink-color: #ff79c6;
  --dark-blue-color: #22212c;
  --blue-color: #36fcff;
  --white-color: #fdfdfd;

  --roboto-font: "Roboto", sans-serif;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.default-section {
  font-family: var(--roboto-font);
  max-width: 100%;
  height: min-content;
  padding: 100px 0px 0px 0px;
  background-color: var(--dark-blue-color);
  justify-content: center;
  align-items: center;
}
.default-selection-h1 {
  margin: 0px;
  padding: 30px 0px 20px 0px;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  color: var(--pink-color);
}
